<body>
<nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
        <ul class="nav navbar-nav ">
            <li><a [routerLink]="['Home']">
                <span class="glyphicon glyphicon-home"></span> Home
            </a>
            </li>
            <!-- *ngIf="isLoggedIn()" -->
            <li >
                <a [routerLink]="['AddPost']">
                    <span class="glyphicon glyphicon-edit"></span>Add post
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ngModel="searchFactory.Text">
                        <button class="btn btn-default glyphicon glyphicon-search" aria-hidden="true"></button>
                    </div>
                </form>
            </li>
            <!-- *ngIf="!isLoggedIn()" -->
            <li ><a href="/#/login"><span class="glyphicon glyphicon-log-in"></span>Log In</a>
            </li>
            <!-- *ngIf="!isLoggedIn()" -->
            <li ><a href="/#/register"><span class="glyphicon glyphicon-user"></span>Register</a>
            </li>
            <!-- *ngIf="isLoggedIn()" -->
            <!-- {{ currentUser() | uppercase}} -->
            <li ><a>Current User</a></li>
            <!-- *ngIf="isLoggedIn()" -->
            <li ><a href="" ng-click="logOut()">Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="body">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- <footer class="footer">
    <div class="container">
        <p class="text-muted">   </p>
            <div class="panel panel-success">
                <div class="panel-heading">
                    Our contacts:
                </div>
                <div class="panel-body">
        <p><span class="glyphicon glyphicon-envelope">Email: </span> <strong>krivichaninds@gmail.com</strong></p>
        <p><span class="glyphicon glyphicon-map-marker">Adress: <em> г.Гродно, ул.О.Соломовой,135,кв.3.</em></span></p>
        <p>
            <span class="glyphicon glyphicon-earphone">Phone:
                <i>
                   +375 (29) 880-56-96
                </i>
            </span>
        </p>
    </div>
    </div>
    </div>
</footer> -->
